# Dependencies
node_modules/
mobile/node_modules/
api/node_modules/
api
# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# NestJS / Node
api/dist/
api/prisma/generated/

# Environment variables
.env
mobile/.env
api/.env

# macOS
.DS_Store
